@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fb;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #4f79c5;
    font-size: 2.5rem;
}

.result-summary {
    text-align: center;
    margin: 30px 0;
}

.result-summary h2 {
    font-size: 1.8rem;
    color: #2c3e50;
}

.result-summary h3 {
    font-size: 1.4rem;
    color: #333;
    margin-top: 20px;
}

.result-summary p {
    font-size: 1.1rem;
    color: #666;
    margin-top: 10px;
    padding: 0 20px;
}

.result-chart-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logout-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 40px;
    padding-right: 20px;
}

.logout-container a {
    text-decoration: none;
}

.logout-container button {
    background-color: #f56c6c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-container button:hover {
    background-color: #e04c4c;
    transform: scale(1.1);
}


@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .result-summary p {
        font-size: 1rem;
    }

    .result-chart-container {
        flex-direction: column;
    }

    .logout-container button {
        width: 100%;
    }
}
